.MainScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: #FFFBF2;
    
}


.subScreen2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
}

.subScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    
}

.subScreenAlt{
    opacity: 0;
    position: absolute;
    transform: translateY(12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    
}

.buttonStyle{
    background-color: white;
    font-size: 40px;
    border-radius: 0.5vh;
    margin: auto;

}