.MainScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: #FFFDF7;
    
}


.subScreenAlt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
}

.subScreen1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    
}

.subScreen4, .subScreen3, .subScreen2{
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    
}

.buttonStyle{
    background-color: white;
    font-size: 40px;
    border-radius: 8vh;
    padding: 2vh;
    margin-left:2vh;
    margin-right:2vh;
    z-index: 12;


}

.heading{
    z-index: 2;
}

.ItemInfo{
    margin: 4vh 4vh;
    background-color: antiquewhite;


}

.vertical{
    display: flex;
    flex-direction: row;
}