.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.picContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:100vh;

}

.container-header{
    text-align: center;
}
.personal-info{
    height: 650px;
    width: 500px;
    margin-left: 200px;
    margin-top: 50px;
    background-color: #FFFBF2;
    border-radius:2vh;
    outline-style: solid;
    outline-width: 5px;
    outline-color: #000000;
}

.info-header{
    text-align: center;
    font-family: Playfair View;
    font-size: 25px
}

.prompts{
    height: 500px;
    width: 500px;
    margin-left:250px;
    margin-top:100px;
    background-color: #FFFBF2;
    border-radius:2vh;
    outline-style: solid;
    outline-width: 5px;
    outline-color: #000000;
}

.prompts-header{
    text-align:center;
    font-family: Playfair View;
    font-size:25px
}

.imgContainer{
    display: flex;
    flex-direction: column;
    margin: 10vh 10vh;
    padding: 2vh 2vh;
}

.fileButton{
    display:box;
    margin:auto;
}