.cardContainer{
    width: 62vh;
    border-radius: 2vh;
    display: block;
    margin: 0vh 2vh;
    background-color: white;
    height: min-content;
    outline-style: solid;
    outline-width: 1.5px;
    outline-color: #000000;
    box-shadow: 20px 25px 10px #a8a2a2;
    padding-bottom: 9vh;
    top: -15px;
    position: relative;
}


.cardImg{
    width: 62vh;
    height:58vh;
    outline-style:solid;
    outline-width:1.5px;
    outline-color: #000;
    object-fit: cover;
    border-radius: 2vh 2vh 0 0;
}

.cardTitle{
    margin: 2vh 0vh 2vh 2vh;
    font-family: 'Montserrat';
}

.cardDesc{
    margin: 0vh 2vh 2vh 2vh;
}