.cardContainer{
    width: 64vh;
    border-radius: 2vh;
    display:block;
    margin: 0vh 5vh;
    background-color: white;
    height: min-content;
    outline-style: solid;
    outline-width: 1.5px;
    outline-color: #000000;
}


.cardImg{
    width: 64vh;
    height:64vh;
    outline-style:solid;
    outline-width:1.5px;
    outline-color: #000;
    object-fit: cover;
    border-radius: 2vh 2vh 0 0;
}

.cardTitle{
    margin: 2vh 0vh 2vh 2vh;
}

.cardDesc{
    margin: 0vh 2vh 2vh 2vh;
}